html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

header {
    width: 99%;
    height: 15%;
    background: #808080;
    position: fixed;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -20px;
    display: block;
}

.header-list a {
    display: inline-block;
    line-height: 0;
}

#Logo1 {
    display: inline-block;
    width: 140px; /* 또는 원하는 크기 */
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}
